<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">

        <activity
            android:name=".ui.AppListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".ApkAttachmentProvider"
            android:authorities="${applicationId}.ApkAttachmentProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:ignore="ExportedContentProvider" />


        <activity
            android:name=".debug.DebugLogActivity"
            android:label="@string/debug_log"
            android:launchMode="singleTop" />

        <service
            android:name=".debug.DebugLogService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />

        <provider
            android:name=".debug.DebugLogAttachmentProvider"
            android:authorities="${applicationId}.debug.DebugLogAttachmentProvider"
            android:exported="true"
            android:grantUriPermissions="true"
            tools:ignore="ExportedContentProvider" />
    </application>


</manifest>